
body {
  font-family:sans-serif;
  margin:0pt;
  padding:0pt;
}

a img {
  border:none;
}

form {
  margin:0px;
  padding:0px;
  font-size:100%;
}

table {
  border-collapse:collapse;
}

td,th {
  border:1px solid black;
  margin:1px;
  vertical-align:top;
}

thead {
  background-color:#cfbfea;
}

#logo {
  padding-top:10px;
  padding-left:10px;
  padding-bottom:5px;
  padding-right:10px;
  float:left;
}

#searchhead {
  float:left;
  padding-top:25px;
}

#searchadvanced {
  display:none;
  margin-top:2px;
  margin-left:2px;
}

#hitlisttop {
  clear:both;
  background-color:#cfbfea;
  border-color:#6035a7;
  border-top-style:solid;
  border-top-width:1px;
  padding:4px;
}

#hitlistbottom {
  background-color:#cfbfea;
  border-color:#6035a7;
  border-bottom-style:solid;
  border-bottom-width:1px;
  padding:4px;
}

#hit {
  padding-top:1em;
  padding-left:4px;
  padding-bottom:1em;
}

.even {
  background-color:#ffffff;
}

.odd {
  background-color:#f7f7f7;
}

.highlight {
 font-weight: bold;
}

#footer {
  clear:both;
  text-align:center;
  margin:4px;
}

.url {
  font-size:70%;
}
