language: java

jdk:
  - oraclejdk8
  - openjdk11

script: mvn install

sudo: false

cache:
  directories:
    - $HOME/.m2

branches:
  except:
    - gh-pages

notifications:
  email:
    - joerg.hohwiller@googlemail.com
