/* Variables */
/* Mixins */
/* Main styles */
body {
  font-size: 14pt;
  margin: 0;
  padding: 0;
}
input {
  font-size: 14pt;
  padding-right: 1em;
}
*:focus {
  outline: none;
}
*::-moz-focus-inner {
  border: none;
}
input:invalid {
  box-shadow: none;
  border-color: #ff8888;
  background-color: #ffbbbb;
  /* background-size: cover; */

  background-position: right;
  /*98% 50%;*/

  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4Ij48Zz48Y2lyY2xlIGN4PSI4IiBjeT0iOCIgcj0iOCIgZmlsbD0iI2ZmMDAwMCIgc3Ryb2tlPSJub25lIiAvPjx0ZXh0IHg9IjYiIHk9IjEzIiBzdHlsZT0iZm9udC1zaXplOiAxNHB4OyBmb250LWZhbWlseTogU2Fucy1zZXJpZjsgZm9udC13ZWlnaHQ6IGJvbGQ7IHN0cm9rZTogbm9uZTsgZmlsbDogI2ZmZmZmZjsiPiE8L3RleHQ+PC9nPjwvc3ZnPg==");
  background-repeat: no-repeat;
}
button {
  border-color: #a0a0a0;
  border-width: 1px;
  cursor: pointer;
  background-color: #e0e0e0;
}
button:hover {
  background-color: #ccddf7;
}
button:focus,
button:active {
  background-color: #a0c0f0;
}
.Button {
  border-color: #a0a0a0;
  border-width: 1px;
  background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px 0px #c7c7c7;
  border-style: solid;
  border-radius: 0.5em;
  padding: 0.2em;
  margin: 0.1em;
  font-size: 16pt;
}
.Button:hover {
  background-image: linear-gradient(to bottom, #ffffff, #ccddf7);
}
.Button:focus,
.Button:active {
  background-image: linear-gradient(to bottom, #ffffff, #a0c0f0);
}
input:hover {
  border-color: #ffffff;
  background-color: #ccddf7;
}
input:focus,
input:active {
  border-color: #4886e2;
  background-color: #a0c0f0;
}
.SearchField {
  display: inline;
}
.SearchField input {
  border-color: #a0a0a0;
  border-width: 1px;
  border-style: solid;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  padding: 0.2em 0 0.2em 0.4em;
  margin: 0 0 0 0.1em;
}
.SearchField .Button {
  border-style: solid;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0;
}
.SearchIcon {
  display: inline-block;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em'><path d='m 1 6 a 4 4 0 1 1 0 0.1 m 7 3 l 6 6 z' style='fill:none;stroke:%230060C0;stroke-width:2'/></svg>");
  background-repeat: no-repeat;
  background-position: 0 0.25em;
  height: 1em;
  width: 1em;
}
.ButtonPanel {
  /* background: @background-em-color; */

}
.ButtonPanel .Button {
  margin: 0.2em;
  min-width: 6em;
}
.MiniButton {
  font-family: monospaced;
  padding: 0;
  margin: 0;
}
.Field {
  margin-left: 0.5em;
}
.FieldView {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.FieldLabel:after {
  content: ":";
}
.FieldLabel.Mandatory:after {
  content: "*:";
}
.Section {
  border-color: #a0a0a0;
  border-width: 1px;
  border-bottom-style: solid;
  text-align: center;
  margin-bottom: 1em;
}
.Section span {
  padding: 0 0.5em;
  position: relative;
  top: 0.5em;
  background: #ffffff;
}
.Section button {
  padding: 0 0.2em;
  position: relative;
  top: 0.9em;
  float: left;
}
.GridPanel {
  width: 100%;
}
/* Popup */
.gwt-PopupPanelGlass {
  background-color: black;
  opacity: 0.3;
}
.Popup {
  box-shadow: 4px 4px 5px 0px black;
  border-radius: 0.5em;
}
.Popup .dialogTopLeft {
  border-color: #a0a0a0;
  border-width: 1px;
  background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
  border-top-style: solid;
  border-left-style: solid;
  cursor: w-resize;
  border-top-left-radius: 0.5em;
}
.Popup .dialogTopLeft:hover {
  background-image: linear-gradient(to bottom, #ffffff, #ccddf7);
}
.Popup .dialogTopLeft:focus,
.Popup .dialogTopLeft:active {
  background-image: linear-gradient(to bottom, #ffffff, #a0c0f0);
}
.Popup .Caption {
  border-color: #a0a0a0;
  border-width: 1px;
  background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-top-style: solid;
  padding: 0.2em;
  cursor: move;
}
.Popup .Caption:hover {
  background-image: linear-gradient(to bottom, #ffffff, #ccddf7);
}
.Popup .Caption:focus,
.Popup .Caption:active {
  background-image: linear-gradient(to bottom, #ffffff, #a0c0f0);
}
.Popup .dialogTopRight {
  border-color: #a0a0a0;
  border-width: 1px;
  background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
  border-top-style: solid;
  border-right-style: solid;
  border-top-right-radius: 0.5em;
  cursor: e-resize;
}
.Popup .dialogTopRight:hover {
  background-image: linear-gradient(to bottom, #ffffff, #ccddf7);
}
.Popup .dialogTopRight:focus,
.Popup .dialogTopRight:active {
  background-image: linear-gradient(to bottom, #ffffff, #a0c0f0);
}
.Popup .dialogMiddle {
  background: #e0e0e0;
}
.Popup .dialogMiddleLeft {
  border-color: #a0a0a0;
  border-width: 1px;
  background: #e0e0e0;
  border-left-style: solid;
  cursor: w-resize;
}
.Popup .dialogMiddleCenter {
  border-color: #a0a0a0;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5em;
  padding: 3px;
  background: white;
}
.Popup .dialogMiddleRight {
  border-color: #a0a0a0;
  border-width: 1px;
  background: #e0e0e0;
  border-right-style: solid;
  cursor: e-resize;
}
.Popup .dialogBottomLeft {
  border-color: #a0a0a0;
  border-width: 1px;
  background: #e0e0e0;
  border-left-style: solid;
  border-bottom-style: solid;
  border-bottom-left-radius: 0.5em;
  cursor: sw-resize;
}
.Popup .dialogBottomCenter {
  border-color: #a0a0a0;
  border-width: 1px;
  background: #e0e0e0;
  border-bottom-style: solid;
  cursor: s-resize;
}
.Popup .dialogBottomRight {
  border-color: #a0a0a0;
  border-width: 1px;
  background: #e0e0e0;
  border-right-style: solid;
  border-bottom-style: solid;
  border-bottom-right-radius: 0.5em;
  cursor: se-resize;
}
.Popup .dialogTopLeftInner {
  width: 0.3em;
}
.Popup .dialogTopRightInner {
  width: 0.3em;
}
.Popup .dialogBottomLeftInner {
  width: 0.3em;
  height: 0.3em;
}
.Popup .dialogBottomRightInner {
  width: 0.3em;
  height: 0.3em;
}
/* Tabs */
.TabPanel .gwt-TabBarFirst {
  width: 5px;
}
.TabPanel .gwt-TabBarItem {
  border-color: #a0a0a0;
  border-width: 1px;
  background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px 0px #c7c7c7;
  border-style: solid;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  cursor: pointer;
}
.TabPanel .gwt-TabBarItem:hover {
  background-image: linear-gradient(to bottom, #ffffff, #ccddf7);
}
.TabPanel .gwt-TabBarItem:focus,
.TabPanel .gwt-TabBarItem:active {
  background-image: linear-gradient(to bottom, #ffffff, #a0c0f0);
}
.TabPanel .gwt-TabBarItem.gwt-TabBarItem-selected {
  border-color: #a0a0a0;
  border-width: 1px;
  background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px 0px #c7c7c7;
  cursor: default;
  background-image: linear-gradient(to bottom, #ffffff, #c0f0f0);
  border-bottom-style: none;
}
.TabPanel .gwt-TabBarItem.gwt-TabBarItem-selected:hover {
  background-image: linear-gradient(to bottom, #ffffff, #ccddf7);
}
.TabPanel .gwt-TabBarItem.gwt-TabBarItem-selected:focus,
.TabPanel .gwt-TabBarItem.gwt-TabBarItem-selected:active {
  background-image: linear-gradient(to bottom, #ffffff, #a0c0f0);
}
.TabPanel .gwt-TabBarItem {
  padding: 0.4em;
}
.TabPanel .gwt-TabPanelBottom {
  border-color: #92c1f0;
  border-style: solid;
  border-width: 3px 2px 2px;
  padding: 6px;
}
/*
.Tab {
}
.gwt-TabBar {
}
.gwt-TabBar .gwt-TabBarRest {
}
.gwt-TabBar .gwt-TabBarItem {
  margin-left: 6px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #d0e4f6;
}
.gwt-TabBar .gwt-TabBarItem-selected {
  cursor: default;
  background: #92c1f0;
}
.gwt-TabBar .gwt-TabBarItem-disabled {
  cursor: default;
  color: #999999;
}
.TabPanel {
}
.gwt-TabPanelBottom {
  border-color: #92c1f0;
  border-style: solid;
  border-width: 3px 2px 2px;
  overflow: hidden;
  padding: 6px;
}
*/
/* Menu stuff */
.gwt-MenuBar {
  cursor: default;
}
.gwt-MenuBar .gwt-MenuItem-selected {
  background: #a0c0f0;
}
.gwt-MenuBar .gwt-MenuItem-disabled {
  color: #c0c0c0;
}
.gwt-MenuBar-horizontal {
  border-color: #a0a0a0;
  border-width: 1px;
  background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
  border-style: solid;
}
.gwt-MenuBar-horizontal:hover {
  background-image: linear-gradient(to bottom, #ffffff, #ccddf7);
}
.gwt-MenuBar-horizontal:focus,
.gwt-MenuBar-horizontal:active {
  background-image: linear-gradient(to bottom, #ffffff, #a0c0f0);
}
.gwt-MenuBar-horizontal .gwt-MenuItem {
  padding: 0px 10px;
  vertical-align: bottom;
  color: #666666;
  font-weight: bold;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
  width: 1px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-left: 1px solid #888888;
  background: white;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
  width: 1px;
  height: 1px;
  background: white;
}
.gwt-MenuBar-vertical {
  margin-top: 0px;
  margin-left: 0px;
  background: white;
}
.gwt-MenuBar-vertical table {
  border-collapse: collapse;
}
.gwt-MenuBar-vertical .gwt-MenuItem {
  padding: 4px 14px 4px 1px;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
  padding: 10px 0px;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
  border-color: #a0a0a0;
  border-width: 1px;
  height: 1px;
  padding: 0px;
  border-top-style: solid;
  background: #e0e0e0;
  overflow: hidden;
}
.gwt-MenuBar-vertical .subMenuIcon {
  padding-right: 4px;
}
.gwt-MenuBar-vertical .subMenuIcon-selected {
  background: #a0c0f0;
}
.gwt-MenuBarPopup {
  margin: 0px 0px 0px 3px;
  border-color: #a0a0a0;
  border-width: 1px;
  border-style: solid;
  background: white;
  box-shadow: 4px 4px 5px 0px black;
}
.gwt-MenuBarPopup .menuPopupTopLeftInner {
  width: 5px;
  height: 5px;
}
.gwt-MenuBarPopup .menuPopupTopRightInner {
  width: 8px;
  height: 5px;
}
.gwt-MenuBarPopup .menuPopupBottomLeftInner {
  width: 5px;
  height: 8px;
}
.gwt-MenuBarPopup .menuPopupBottomRightInner {
  width: 8px;
  height: 8px;
}
