<html>
  <head>
    <title>Package documentation for the ${component.title} component of the ${project.title} project</title>
  </head>
  <body>
    Contains the API to read,edit and save configuration data.
  </body>
</html>