<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.google.gdt.eclipse.suite.webapp">
<stringAttribute key="com.google.gdt.eclipse.suiteMainTypeProcessor.PREVIOUSLY_SET_MAIN_TYPE_NAME" value="com.google.gwt.dev.DevMode"/>
<booleanAttribute key="com.google.gdt.eclipse.suiteWarArgumentProcessor.IS_WAR_FROM_PROJECT_PROPERTIES" value="true"/>
<stringAttribute key="com.google.gwt.eclipse.core.LOG_LEVEL" value="DEBUG"/>
<stringAttribute key="com.google.gwt.eclipse.core.URL" value="Mmm.html"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mmm-app-war"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="com.google.gdt.eclipse.maven.mavenClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.google.gwt.dev.DevMode"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-war &quot;${workspace_loc:mmm-app-war}\target\mmm-app-war-1.0.0-SNAPSHOT&quot; -remoteUI &quot;${gwt_remote_ui_server_port}:${unique_id}&quot; -startupUrl Mmm.html -logLevel DEBUG -codeServerPort 9997 -port 8888 -gen &quot;${project_loc:mmm-app-war}/eclipse-target/gwt-gen&quot; net.sf.mmm.app.Mmm"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mmm-app-war"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-XX:MaxPermSize=256m -Xmx512m &quot;-Xbootclasspath/p:${env_var:M2_REPO}/net/sf/m-m-m/mmm-util-backport-java.util.function/1.0.0/mmm-util-backport-java.util.function-1.0.0.jar;${env_var:M2_REPO}/net/sf/m-m-m/mmm-util-backport-java.time/1.0.0/mmm-util-backport-java.time-1.0.0.jar&quot; -Dgwt.persistentunitcachedir=../../../.gwt"/>
</launchConfiguration>
