<?xml version="1.0" encoding="UTF-8"?>
<web-app id="net.sf.mmm.search" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
  <!-- 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
-->
  <display-name>search</display-name>

  <servlet>
    <servlet-name>Search</servlet-name>
    <!-- <servlet-class>net.sf.mmm.search.view.GenericSearchServlet</servlet-class> -->
    <servlet-class>net.sf.mmm.search.view.LuceneSearchServlet</servlet-class>
    <init-param>
      <!-- the path to the configuration file -->
      <param-name>config-file</param-name>
      <param-value>~/search.xml</param-value>
    </init-param>
    <!-- search-configurator for GenericSearchServlet -->
    <!--
    <init-param>
      <param-name>search-configurator</param-name>
      <param-value>net.sf.mmm.search.impl.LuceneSearchConfigurator</param-value>
    </init-param>
    -->
    <!--
    <init-param>
      <param-name>search-jsp</param-name>
      <param-value>search.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>details-jsp</param-name>
      <param-value>details.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>details-path</param-name>
      <param-value>/details</param-value>
    </init-param>
    -->
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>search</welcome-file>
  </welcome-file-list>

</web-app>