<?xml version="1.0"?>
<!-- $Id$ -->
<settings>
  <servers>
    <server>
      <id>sourceforge</id>
      <username>hohwille</username>
    </server>
  </servers>
  <!--
  <pluginGroups>
    <pluginGroup>net.sf.mmm</pluginGroup>
  </pluginGroups>
  -->
  <proxies>
    <!-- 
      If you need a proxy server to access the internet,
      configure your proxy here and remove the comment 
      lines around the proxy tag
    -->

    <!--
    <proxy>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy.foo.com</host>
      <port>8080</port>
      <nonProxyHosts>repo.bar.org</nonProxyHosts>
    </proxy>
    -->
  </proxies>
  <mirrors>
    <!--
    <mirror>
      <id>ggi-project.org</id>
      <url>http://ftp.ggi-project.org/pub/packages/maven2</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
    -->
    <!--
    <mirror>
      <id>planetmirror.com</id>
      <name>planetmirror Mirror of http://repo1.maven.org/maven2/</name>
      <url>http://public.planetmirror.com/pub/maven2</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
    -->
  </mirrors>
  <profiles>
    <profile>
      <id>mmm</id>
      <repositories>
        <!--
        <repository>
          <id>mmm</id>
          <name>mmm-repository</name>
          <url>http://m-m-m.sourceforge.net/repository</url>
        </repository>
	-->
      </repositories>
    </profile>

  </profiles>
  <activeProfiles>
    <activeProfile>mmm</activeProfile>
  </activeProfiles>
</settings>
